:root {
	--border: 1px solid black;
	--border-radius: 4px;
	--font-family: 'Noto Sans', sans-serif;
	--font-size: 16px;
	--yellow-50: hsl(45deg 100% 50%);
	--yellow-90: hsl(45deg 100% 90%);
	--blue-50: hsl(242deg 100% 50%);
	--blue-90: hsl(242deg 100% 90%);
	--gray-20: hsl(0deg 0% 20%);
	--gray-50: hsl(0deg 0% 50%);
	--gray-90: hsl(0deg 0% 90%);
}

body {
	margin: 2em;
	padding: 0;
	font-family: var(--font-family);
	font-size: var(--font-size);
}

input {
	font-family: var(--font-family);
	font-size: var(--font-size);
}

table {
	border-collapse: collapse;
}

th {
	font-weight: normal;
}

th,
td {
	padding: 0.25em 1em;
}

.table-wrapper {
	display: flex;
	margin: 2em 0;
}

.table-wrapper nav {
	position: sticky;
	top: 2em;
}

.table-wrapper nav > ul {
	margin: 2em;
	padding: 0;
}

.table-wrapper nav > ul > li {
	list-style-type: none;
	padding: 0.25em 0;
}

.nav-link {
	cursor: pointer;
	font-size: 85%;
}

.nav-link:hover {
	text-decoration: underline;
}

.empty {
	display: none;
}

.table-tracker th,
.table-tracker td {
	border: var(--border);
}

.table-tracker > thead {
	position: sticky;
	top: 0;
	z-index: 10;
	color: white;
	background: var(--gray-20);
}

.table-tracker > tbody > tr {
	position: relative;
}

.table-tracker > tbody > tr:hover:not(.row-today):not(.row-due-date) {
	background-color: var(--gray-90);
}

.row-today {
	background-color: var(--yellow-90);
	font-weight: bold;
}

.row-due-date {
	background-color: var(--blue-90);
	font-weight: bold;
}

.row-shaded:not(.row-today):not(.row-due-date) {
	background-color: var(--gray-90);
}

.table-tracker > tbody > tr:hover::after,
.row-today::after,
.row-due-date::after {
	content: '';
	position: absolute;
	inset: -2px;
	border-style: solid;
	border-width: 4px;
	z-index: 1;
}
.table-tracker > tbody > tr:hover:not(.row-today):not(.row-due-date)::after {
	border-color: var(--gray-50);
	z-index: 2;
}
.row-today::after {
	border-color: var(--yellow-50);
}
.row-due-date::after {
	border-color: var(--blue-50);
}

.col-week-no,
.col-day-gest,
.col-day-fert,
.col-countdown {
	text-align: center;
}

.col-notes {
	width: 20ch;
}

.calendar-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(270px, 100%), 1fr));
	gap: 1em;
	margin-top: 3rem;
	margin-bottom: 3rem;
	--cal-padding: 0.5em;
}

.month-container {
	border: var(--border);
	border-radius: 0.5em;
}

.grid-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5em;
}

.month-header {
	font-weight: bold;
	padding: var(--cal-padding) var(--cal-padding) 0 var(--cal-padding);
}

.month-weekdays {
	text-align: center;
	font-size: 80%;
	color: var(--gray-50);
	padding: 0 var(--cal-padding);
}

.month-days {
	padding: var(--cal-padding);
}

.calendar-day {
	text-align: center;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	padding: 0.1em 0.3em;
	position: relative;
}

.pregnancy-day {
	border-color: var(--gray-50);
	cursor: pointer;
}

.pregnancy-day:hover {
	background-color: var(--gray-90);
}

.calendar-day.pregnancy-day.due-date {
	background-color: var(--blue-90);
	font-weight: bold;
	border-color: var(--blue-50);
}

.calendar-day.pregnancy-day.today {
	background-color: var(--yellow-90);
	font-weight: bold;
	border-color: var(--yellow-50);
}

.calendar-day.has-note {
	background-color: var(--gray-90);
}

.calendar-day.active::after,
.calendar-day.due-date:hover::after,
.calendar-day.today:hover::after,
.calendar-day.has-note:hover::after {
	content: '';
	position: absolute;
	inset: -3px;
	border-style: solid;
	border-width: 3px;
	z-index: 1;
	border-radius: var(--border-radius);
}

.calendar-day.has-note.active::after,
.calendar-day.has-note:hover::after {
	border-color: var(--gray-50);
}
.calendar-day.due-date.active::after,
.calendar-day.due-date:hover::after {
	border-color: var(--blue-50);
}
.calendar-day.today.active::after,
.calendar-day.today:hover::after {
	border-color: var(--yellow-50);
}

.popup {
	position: absolute;
	z-index: 100;
	background: var(--gray-90);
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 1em;
	box-shadow: 0px 10px 13px -7px var(--gray-20), 5px 5px 15px 5px rgba(51,51,51,0);
}
.popup > h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
}
.popup p {
	margin: 0;
}
.popup .note {
	margin-top: 1em;
	padding: 0.5em;
	border: var(--border);
	border-radius: var(--border-radius);
}
.popup .note::before {
	content: 'Note: ';
	font-size: 80%;
	font-weight: bold;
}
.popup .note:focus-visible {
	background: white;
}